<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.snappytts"
          android:versionCode="10"
          android:versionName="1.5">
    <application android:icon="@drawable/tts" android:label="snappytts">
	  <service android:enabled="true" 
	    	android:name="com.google.tts.TTSService" 
	    	android:label="snappytts" 
	    	android:icon="@drawable/tts" >
	    	<intent-filter>
	    		<action android:name="android.intent.action.USE_TTS" />
				  <category android:name="android.intent.category.TTS" />
			  </intent-filter>
		</service>
		
		<activity android:name="com.google.tts.ConfigurationManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		
		<activity android:name="com.google.tts.PrefsActivity">
    </activity>
	</application>
	
  <uses-permission android:name="android.permission.INTERNET"/>
</manifest> 
